/hebnix_rs/target/
/hebnix_rs/dist/


/.claude/
/.nix/
.vs/
.vscode/


*.pdb

hebnix.log
hebnix.log.old
crash.txt
EOS_token.txt
theme_errors.txt
steam_appid.txt

/hebnix_rs/examples/plugins/config/
/hebnix_rs/examples/plugins/cache/


**/*.rs.bk
*.swp
Thumbs.db
Desktop.ini
.DS_Store

rlapi_bridge/vendor/
rlapi_bridge/go.sum
hebnix_rs/crates/hebnix-app/src/_boost_patcher_zip.rs
hebnix_rs/crates/hebnix-app/src/_color_scanner.rs

/req_key.txt
